registry=https://registry.npmjs.org/

save-workspace-protocol = false
enable-pre-post-scripts = true
shamefully-hoist = false
# hoist = false
# public-hoist-pattern[]=bson
# shared-workspace-shrinkwrap = true
