{
  "extension": [
    ".js"
  ],
  "include": [
    "src/**"
  ],
  "reporter": ["text", "json"],
  "exclude": [
    "**/*.d.ts",
    "build/**/**/*.js",
    "src/index.ts",
    "src/version.ts",
    "karma.conf.js",
    "src/platform/browser/*.ts",
    "test/*.ts",
    "webpack/*.js",
    ".eslintrc.js"
  ],
  "all": true
}
