{
  "extension": [
    ".ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "build/**/**/*.js",
    "src/index.ts",
    "src/version.ts",
    "karma.conf.js",
    "src/platform/browser/*.ts",
    "test/*.ts",
    "test/index-webpack.ts",
    "webpack/*.js",
    ".eslintrc.js"
  ],
  "all": true
}
