name: Validate Release Please Config

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  rp-validate:
    runs-on: ubuntu-latest
    container:
      image: node:22
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Ensure Release Please Config and Manifest are in sync with the repository
        run: node scripts/check-release-please.mjs
