name: Test All Versions
on:
  schedule:
    - cron: "30 4 * * *"
  workflow_dispatch:
    inputs:
      npm-workspace-args:
        type: string
  workflow_call:
    inputs:
      npm-workspace-args:
        required: true
        type: string

permissions:
  contents: read

jobs:
  build-and-cache:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    env:
      NPM_CONFIG_UNSAFE_PERM: true
      NODE_OPTIONS: --max-old-space-size=4096
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      # Use the same Node.js version used for `release-please` workflow.
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Install
        run: npm ci --ignore-scripts
        timeout-minutes: 10
      - name: Build
        run: npm run compile
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: tav-build-cache-${{ github.run_number }}
          path: .nx
          include-hidden-files: true
          if-no-files-found: error
          retention-days: 1

  tav:
    name: Run test-all-versions
    needs: build-and-cache
    strategy:
      fail-fast: false
      matrix:
        node: ["18", "20", "22", "24"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Install
        # Post install scripts are required for some deps for successful test
        # runs: sqlite3, better-sqlite3, and possibly esbuild.
        run: npm ci
        timeout-minutes: 10
      - name: Download Build Artifacts
        uses: actions/download-artifact@v5
        with:
          name: tav-build-cache-${{ github.run_number }}
          path: .nx
      - name: Build
        run: npm run compile
      - name: Start Test Services
        run: npm run test-services:start
      - name: Run test-all-versions
        run: npm run --if-present --workspaces test-all-versions ${{ inputs.npm-workspace-args }}
      - name: Stop Test Services
        if: always()
        run: npm run test-services:stop

