name: Unit Tests
on:
  push:
    branches: [main]
  pull_request:

jobs:
  unit-test:
    strategy:
      fail-fast: false
      matrix:
        node: ["8", "10", "12", "14", "16"]
        include:
          - node: "8"
            lerna-extra-args: >-
              --ignore @opentelemetry/instrumentation-aws-sdk
              --ignore @opentelemetry/instrumentation-pino
          - node: "10"
            lerna-extra-args: >-
              --ignore @opentelemetry/instrumentation-pino
    runs-on: ubuntu-latest
    services:
      memcached:
        image: memcached:1.6.9-alpine
        ports:
        - 11211:11211
      mongo:
        image: mongo
        ports:
        - 27017:27017
      mysql:
        image: circleci/mysql:5.7
        env:
          MYSQL_USER: otel
          MYSQL_PASSWORD: secret
          MYSQL_DATABASE: circle_database
          MYSQL_ROOT_PASSWORD: rootpw
        ports:
        - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      postgres:
        image: circleci/postgres:9.6-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: circle_database
        ports:
        - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
        - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      cassandra:
        image: bitnami/cassandra:3
        ports:
        - 9042:9042
    env:
      RUN_CASSANDRA_TESTS: 1
      RUN_MEMCACHED_TESTS: 1
      RUN_MONGODB_TESTS: 1
      RUN_MYSQL_TESTS: 1
      RUN_POSTGRES_TESTS: 1
      RUN_REDIS_TESTS: 1
      CASSANDRA_HOST: localhost
      MONGODB_DB: opentelemetry-tests
      MONGODB_HOST: localhost
      MONGODB_PORT: 27017
      MYSQL_DATABASE: circle_database
      MYSQL_HOST: localhost
      MYSQL_PASSWORD: secret
      MYSQL_PORT: 3306
      MYSQL_USER: otel
      OPENTELEMETRY_MEMCACHED_HOST: localhost
      OPENTELEMETRY_MEMCACHED_PORT: 11211
      OPENTELEMETRY_REDIS_HOST: localhost
      OPENTELEMETRY_REDIS_PORT: 6379
      POSTGRES_DB: circle_database
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      NPM_CONFIG_UNSAFE_PERM: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            package-lock.json
            detectors/node/*/node_modules
            detectors/node/*/package-lock.json
            metapackages/*/node_modules
            metapackages/*/package-lock.json
            packages/*/node_modules
            packages/*/package-lock.json
            plugins/node/*/node_modules
            plugins/node/*/package-lock.json
            plugins/web/*/node_modules
            plugins/web/*/package-lock.json
            propagators/*/node_modules
            propagators/*/package-lock.json
          key: ${{ runner.os }}-${{ matrix.node }}-${{ hashFiles('package.json', 'detectors/node/*/package.json', 'metapackages/*/package.json', 'packages/*/package.json', 'plugins/node/*/package.json', 'plugins/web/*/package.json', 'propagators/*/package.json') }}
      - name: Legacy Peer Dependencies for npm 7
        if: matrix.node == '16'
        run: npm config set legacy-peer-deps=true
      - name: Install Root Dependencies
        run: npm install --ignore-scripts
      - name: Bootstrap Dependencies
        run: npx lerna bootstrap --no-ci --hoist --nohoist='zone.js' --nohoist='mocha' --nohoist='ts-mocha'
      - name: Unit tests
        run: npm run test:ci:changed -- ${{ matrix.lerna-extra-args }}
      - name: Report Coverage
        if: matrix.node == '14'
        run: npm run codecov:ci:changed

  browser-test:
    strategy:
      fail-fast: false
      matrix:
        node: ["12"]
    runs-on: ubuntu-latest
    env:
      NPM_CONFIG_UNSAFE_PERM: true
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            package-lock.json
            detectors/node/*/node_modules
            detectors/node/*/package-lock.json
            metapackages/*/node_modules
            metapackages/*/package-lock.json
            packages/*/node_modules
            packages/*/package-lock.json
            plugins/node/*/node_modules
            plugins/node/*/package-lock.json
            plugins/web/*/node_modules
            plugins/web/*/package-lock.json
            propagators/*/node_modules
            propagators/*/package-lock.json
          key: ${{ runner.os }}-${{ matrix.node }}-${{ hashFiles('package.json', 'detectors/node/*/package.json', 'metapackages/*/package.json', 'packages/*/package.json', 'plugins/node/*/package.json', 'plugins/web/*/package.json', 'propagators/*/package.json') }}
      - name: Install Root Dependencies
        run: npm install --ignore-scripts
      - name: Bootstrap Dependencies
        run: npx lerna bootstrap --no-ci
      - name: Unit tests
        run: npm run test:browser
      - name: Report Coverage
        run: npm run codecov:browser
