name: Unit Tests
on:
  push:
    branches: 
      - feat-lerna-bootstrap-deprecate
  pull_request:

jobs:
  unit-test:
    strategy:
      fail-fast: false
      matrix:
        node: ["14", "16", "18"]
        include:
            - node: 14
              code-coverage: true
              npm: 7
    runs-on: ubuntu-latest
    services:
      memcached:
        image: memcached:1.6.21-alpine
        ports:
        - 11211:11211
      mongo:
        image: mongo
        ports:
        - 27017:27017
      mssql:
        image: mcr.microsoft.com/mssql/server:2017-latest
        env:
          SA_PASSWORD: mssql_passw0rd
          ACCEPT_EULA: Y
        ports:
        - 1433:1433
        options: >-
          --health-cmd "/opt/mssql-tools/bin/sqlcmd -U sa -P $SA_PASSWORD -Q 'select 1' -b -o /dev/null"
          --health-interval 1s
          --health-timeout 30s
          --health-start-period 10s
          --health-retries 20
      mysql:
        image: mysql:5.7
        env:
          MYSQL_USER: otel
          MYSQL_PASSWORD: secret
          MYSQL_DATABASE: otel_mysql_database
          MYSQL_ROOT_PASSWORD: rootpw
        ports:
        - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: otel_pg_database
          POSTGRES_PASSWORD: postgres
        ports:
        - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        ports:
        - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      cassandra:
        image: bitnami/cassandra:3
        ports:
        - 9042:9042
      rabbitmq:
        image: rabbitmq:3
        ports:
        - 22221:5672
        env:
          RABBITMQ_DEFAULT_USER: username
          RABBITMQ_DEFAULT_PASS: password
    env:
      RUN_CASSANDRA_TESTS: 1
      RUN_MEMCACHED_TESTS: 1
      RUN_MONGODB_TESTS: 1
      RUN_MYSQL_TESTS: 1
      RUN_MSSQL_TESTS: 1
      RUN_POSTGRES_TESTS: 1
      RUN_REDIS_TESTS: 1
      RUN_RABBIT_TESTS: 1
      CASSANDRA_HOST: localhost
      MONGODB_DB: opentelemetry-tests
      MONGODB_HOST: 127.0.0.1
      MONGODB_PORT: 27017
      MSSQL_PASSWORD: mssql_passw0rd
      MYSQL_DATABASE: otel_mysql_database
      MYSQL_HOST: 127.0.0.1
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_PORT: 3306
      MYSQL_USER: otel
      OPENTELEMETRY_MEMCACHED_HOST: localhost
      OPENTELEMETRY_MEMCACHED_PORT: 11211
      OPENTELEMETRY_REDIS_HOST: localhost
      OPENTELEMETRY_REDIS_PORT: 6379
      POSTGRES_DB: otel_pg_database
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      NPM_CONFIG_UNSAFE_PERM: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: |
            package.json
            detectors/node/*/package.json
            metapackages/*/package.json
            packages/*/package.json
            plugins/node/*/package.json
            plugins/web/*/package.json
            propagators/*/package.json
      - name: Install minimum npm 7
        if: matrix.npm
        run: npm install -g npm@${{matrix.npm}}
      - name: Set MySQL variables
        run: mysql --user=root --password=${MYSQL_ROOT_PASSWORD} --host=${MYSQL_HOST} --port=${MYSQL_PORT} -e "SET GLOBAL log_output='TABLE'; SET GLOBAL general_log = 1;" mysql
      - name: Legacy Peer Dependencies for npm 7
        run: npm config set legacy-peer-deps=true
      - name: Install Dependencies
        run: npm install
      - name: Unit tests (Full)
        if: matrix.code-coverage
        run: npx lerna run test ${{ matrix.lerna-extra-args }}
      - name: Unit tests (Delta)
        if: ${{ !matrix.code-coverage }}
        run: npx lerna run test ${{ matrix.lerna-extra-args }} --since origin/main
      - name: Build examples
        run: npm run compile:examples
      - name: Report Coverage
        if: ${{ matrix.code-coverage && !cancelled()}}
        uses: codecov/codecov-action@v3
        with:
          verbose: true

  browser-test:
    strategy:
      fail-fast: false
      matrix:
        node: ["14"]
        include:          
          - node: 14
            npm: 7
    runs-on: ubuntu-latest
    env:
      NPM_CONFIG_UNSAFE_PERM: true
      NODE_OPTIONS: --max-old-space-size=4096
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
          cache-dependency-path: |
            package.json
            detectors/node/*/package.json
            metapackages/*/package.json
            packages/*/package.json
            plugins/node/*/package.json
            plugins/web/*/package.json
            propagators/*/package.json
      - name: Install minimum npm@${{matrix.npm}}
        if: matrix.npm
        run: npm install -g npm@${{matrix.npm}}
      - name: Legacy Peer Dependencies for npm>7
        run: npm config set legacy-peer-deps=true
      - name: Install Root Dependencies
        run: npm install --legacy-bundling
      - name: Unit tests
        run: npx lerna run --no-bail test:browser
      - name: Report Coverage
        uses: codecov/codecov-action@v3
        with:
          verbose: true
